html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

.container {
	max-width: 1140px;
	margin-right: auto;
	margin-left: auto;
	padding: 2% 18% 2% 18%;
}

h2 {
	font-size: 36px;
	padding: 18px;
	margin-bottom: 36px;
	margin-top: 0px;
}

.main {
	background-color: #f1e6da;
}

h4 {
	background-color: #ecd9c6;
	font-size: 18px;
	padding: 18px;
	margin: 0px;
	font-weight: bold
}

article a {
	text-decoration: none;
	color: #008ae6;
	background-color: none; 
}

article {
	padding: 12px 12px 12px 0px;
	margin-left: 36px;
}

p {
	line-height: 18px;
	font-size: 12px;
	margin: 0px;
	padding: 0px;
	font-family: 'Raleway', sans-serif;
}

p + p {
	padding-top: 6px;
}